
:root {
    --blumine: #166884;
    --cyan: #71DBDB;
    --dark-purple: #884499;
    --platinum: #E3DDE0;
    --platinum-grey: #C4BEC1;
    --platinum-dark: #585456;
    --matte-black: #1C1B1C;
}

body {
    margin: 0;
    width: 100%;
    background-color: var(--matte-black);
    font-family: 'Roboto', sans-serif;
}
body > div {
    padding: 25px;
}

/* Border guide */
/* div, tr, th, td, nav, p {
    border: 1px solid red;
} */
 /* Image control */
img {
    height: 300px;
    width: 300px;
    border-radius: 20px;
}

/* Animation */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Header */
div#header {
    position: sticky;
    top: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    font-size: smaller;
    z-index: 1;
}
header {
    display: flex;
    background-color: var(--platinum-dark);
    color: white;
    border-radius: 20px;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    justify-content: space-between;
}
header a {
    text-decoration: none;
    color: inherit;
}
header a:hover {
    text-decoration: underline;
}
#header-nav a {
    transition: color 0.3s;
}
#header-nav a.active {
    color: var(--cyan);
}
#header-nav {
    display: flex;
    gap: 20px;
}

/* Home Section */
#home-section {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: var(--matte-black);
}
#home-section #small-about {
    margin-top: -20px;
    margin-bottom: 0;
    color: white;
    font-size: 30px;
    width: 500px;
}
#home-section-photo-divider {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80%;
}
.home-section-photo img {
    border-radius: 20px;
}
/* #home-section-photo-left {
} */
#home-section-photo-right {
    display: flex;
    flex-direction: column;
}

/* About Section */
#about-section {
    /* height: 100vh; */
    padding: 30px;
    background-color: var(--matte-black);
}
#about-me {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px
}
#about-me > div {
    display: flex;
    flex-direction: column;
}
#about-me p {
    margin: 0 0 15px 0;
    color: white;
    text-align: justify;
    line-height: 1.5;
    font-size: 30px;
}
/* Capabilities Section */
#capabilities-section {
    /* margin: 50px 0; */
    /* width: 100%; */
    /* height: 100vh; */
    padding: 30px;
    background-color: var(--matte-black);
}
.capabilities-section-competencies {
    display: flex;
    gap: 30px;
}
.capabilities-section-competencies h1 {
    color: var(--platinum);
    margin: 0;
}
.capabilities-section-competencies div {
    display: flex;
    flex-direction: column;
}
.capabilities-section-competencies span {
    color: white;
    text-align: left;
    line-height: 1.8;
    /* font-size: 30px; */
}

/* Skills Section */
#skills-section {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100vh;
    background-color: var(--matte-black);
}
#skills-section-title {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: var(--matte-black);
}
#skills-section-list {
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}
.skills {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 220px;   
    height: 300px;
    background-color: var(--blumine);
    padding: 10px;
    gap: 20px;
    border-radius: 20px;
    align-items: center;
}
.skills > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;   
    height: 200px;
    border-radius: 20px;
}
.skills > div > img {
    align-items: center;
    width: 200px;   
    height: 200px;
    border-radius: 20px;
}
.skills > p {
    font-family: 'Roboto', sans-serif;
    color: inherit;
    font-size: 20px;
    margin: 0;
}


/* Portfolio Section */
#portfolio-section {
    padding: 30px;
    padding-bottom: 150px;
    background-color: var(--platinum-grey);
}
.projects {
    margin-bottom: 70px;
}
.portfolio-section-project {
    display: flex;
    gap: 20px;
}
/* .portfolio-section-project img {
    width: 200px;
} */
.portfolio-section-project-multipic {
    flex-direction: column;
}
.portfolio-section-project-multipic .portfolio-section-project-multipic-img {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.portfolio-section-project-description p {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 10px;
    font-size: 25px;
    text-align: justify;
    line-height: 1.5;
}
#portfolio-section > .projects:last-child {
    margin-bottom: 0;
}
.psp-left {
    justify-content: space-between;
}
.psp-right {
    justify-content: end;
}

/* Contact Section */
#contact-section {
    padding-bottom: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--platinum-grey);
}
#contact-section-container {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    gap: 30px;
    transform: translateY(-50px);
}
.contact-sticky {
    position: fixed;
    top: 0;
    width: 600px;
    z-index: 1;
}
#contact-section-container img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
#contact-section-information {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--platinum-dark);
    font-size: 25px;
    color: white;
}
#contact-section-information a {
    color: inherit;
}
#contact-section-logo {
    margin-top: 10px;
}
